In [1]:
respondents=28 #응답인원

## 5 likert (Q1~6)

In [2]:
responses=[]
for response in range(respondents):
    responses.append(input())

555555
434434
555555
533555
314413
555555
555555
535555
555555
555555
444544
555555
555555
555555
444444
444444
555555
444555
555555
555555
555555
434444
444444
555555
334433
444433
555555
555555

In [3]:
responses

['555555',
 '434434',
 '555555',
 '533555',
 '314413',
 '555555',
 '555555',
 '535555',
 '555555',
 '555555',
 '444544',
 '555555',
 '555555',
 '555555',
 '444444',
 '444444',
 '555555',
 '444555',
 '555555',
 '555555',
 '555555',
 '434444',
 '444444',
 '555555',
 '334433',
 '444433',
 '555555',
 '555555']

In [4]:
responses.pop()

'555555'

In [5]:
responses.append('545555')

In [6]:
plist=[]

for response in responses:
    print(response)
    a = []
    for i in response:
        a.append(int(i))
    plist.append(a)

555555
434434
555555
533555
314413
555555
555555
535555
555555
555555
444544
555555
555555
555555
444444
444444
555555
444555
555555
555555
555555
434444
444444
555555
334433
444433
555555
545555

In [7]:
import pandas as pd
df=pd.DataFrame(plist)

In [8]:
df

    0  1  2  3  4  5
0   5  5  5  5  5  5
1   4  3  4  4  3  4
2   5  5  5  5  5  5
3   5  3  3  5  5  5
4   3  1  4  4  1  3
5   5  5  5  5  5  5
6   5  5  5  5  5  5
7   5  3  5  5  5  5
8   5  5  5  5  5  5
9   5  5  5  5  5  5
10  4  4  4  5  4  4
11  5  5  5  5  5  5
12  5  5  5  5  5  5
13  5  5  5  5  5  5
14  4  4  4  4  4  4
15  4  4  4  4  4  4
16  5  5  5  5  5  5
17  4  4  4  5  5  5
18  5  5  5  5  5  5
19  5  5  5  5  5  5
20  5  5  5  5  5  5
21  4  3  4  4  4  4
22  4  4  4  4  4  4
23  5  5  5  5  5  5
24  3  3  4  4  3  3
25  4  4  4  4  3  3
26  5  5  5  5  5  5
27  5  4  5  5  5  5

## 10 likert (Q7)

In [ ]:
responses=[]
for response in range(respondents):
    responses.append(int(input()))

10
6
10
5
1
10

In [ ]:
df['7']=responses

In [ ]:
df

In [ ]:
speaker=input()

In [ ]:
filename="survey_result-"+speaker+".csv"
filename

In [ ]:
df.to_csv(filename)