In [1]:
respondents=27 #응답인원

## 5 likert (Q1~6)

In [2]:
responses=[]
for response in range(respondents):
    responses.append(input())

555555
555555
554454
444444
555555
555555
555555
555555
555555
555555
555555
555555
555555
555555
555555
555555
555555
555555
555555
555555
555555
545545
555555
555555
555555
444444
555555

In [3]:
responses

['555555',
 '555555',
 '554454',
 '444444',
 '555555',
 '555555',
 '555555',
 '555555',
 '555555',
 '555555',
 '555555',
 '555555',
 '555555',
 '555555',
 '555555',
 '555555',
 '555555',
 '555555',
 '555555',
 '555555',
 '555555',
 '545545',
 '555555',
 '555555',
 '555555',
 '444444',
 '555555']

In [4]:
responses.pop()

'555555'

In [5]:
responses.append('545555')

In [6]:
plist=[]

for response in responses:
    print(response)
    a = []
    for i in response:
        a.append(int(i))
    plist.append(a)

555555
555555
554454
444444
555555
555555
555555
555555
555555
555555
555555
555555
555555
555555
555555
555555
555555
555555
555555
555555
555555
545545
555555
555555
555555
444444
545555

In [7]:
import pandas as pd
df=pd.DataFrame(plist)

In [8]:
df

    0  1  2  3  4  5
0   5  5  5  5  5  5
1   5  5  5  5  5  5
2   5  5  4  4  5  4
3   4  4  4  4  4  4
4   5  5  5  5  5  5
5   5  5  5  5  5  5
6   5  5  5  5  5  5
7   5  5  5  5  5  5
8   5  5  5  5  5  5
9   5  5  5  5  5  5
10  5  5  5  5  5  5
11  5  5  5  5  5  5
12  5  5  5  5  5  5
13  5  5  5  5  5  5
14  5  5  5  5  5  5
15  5  5  5  5  5  5
16  5  5  5  5  5  5
17  5  5  5  5  5  5
18  5  5  5  5  5  5
19  5  5  5  5  5  5
20  5  5  5  5  5  5
21  5  4  5  5  4  5
22  5  5  5  5  5  5
23  5  5  5  5  5  5
24  5  5  5  5  5  5
25  4  4  4  4  4  4
26  5  4  5  5  5  5

## 10 likert (Q7)

In [9]:
responses=[]
for response in range(respondents):
    responses.append(int(input()))

10
10
9
8
10
10
10
10
10
10
10
10
10
10
10
10
10
10
10
10
10
10
9
9
10
10
9

In [10]:
df['7']=responses

In [11]:
df

    0  1  2  3  4  5   7
0   5  5  5  5  5  5  10
1   5  5  5  5  5  5  10
2   5  5  4  4  5  4   9
3   4  4  4  4  4  4   8
4   5  5  5  5  5  5  10
5   5  5  5  5  5  5  10
6   5  5  5  5  5  5  10
7   5  5  5  5  5  5  10
8   5  5  5  5  5  5  10
9   5  5  5  5  5  5  10
10  5  5  5  5  5  5  10
11  5  5  5  5  5  5  10
12  5  5  5  5  5  5  10
13  5  5  5  5  5  5  10
14  5  5  5  5  5  5  10
15  5  5  5  5  5  5  10
16  5  5  5  5  5  5  10
17  5  5  5  5  5  5  10
18  5  5  5  5  5  5  10
19  5  5  5  5  5  5  10
20  5  5  5  5  5  5  10
21  5  4  5  5  4  5  10
22  5  5  5  5  5  5   9
23  5  5  5  5  5  5   9
24  5  5  5  5  5  5  10
25  4  4  4  4  4  4  10
26  5  4  5  5  5  5   9

In [12]:
speaker=input()

백용욱

In [13]:
filename="survey_result-"+speaker+".csv"
filename

'survey_result-백용욱.csv'

In [14]:
df.to_csv(filename)