In [1]:
respondents=28 #응답인원

## 5 likert (Q1~6)

In [2]:
responses=[]
for response in range(respondents):
    responses.append(input())

55555555555
55545455555
55455554555
232343233
34435554555
55555555555
55555555555
44444544
55555555
33344533555
34425545555
34355555555
55535553555
45434544555
44444444444
55555555555
35455555555
55555555555
33434533444
33345544555
55555555555
24445544444
44444444444
55555555555
55555555555
45445555555
45555553
55555555555

In [3]:
responses

['55555555555',
 '55545455555',
 '55455554555',
 '232343233',
 '34435554555',
 '55555555555',
 '55555555555',
 '44444544',
 '55555555',
 '33344533555',
 '34425545555',
 '34355555555',
 '55535553555',
 '45434544555',
 '44444444444',
 '55555555555',
 '35455555555',
 '55555555555',
 '33434533444',
 '33345544555',
 '55555555555',
 '24445544444',
 '44444444444',
 '55555555555',
 '55555555555',
 '45445555555',
 '45555553',
 '55555555555']

In [6]:
plist=[]

for response in responses:
    print(response)
    a = []
    for i in response:
        a.append(int(i))
    plist.append(a)

55555555555
55545455555
55455554555
232343233
34435554555
55555555555
55555555555
44444544
55555555
33344533555
34425545555
34355555555
55535553555
45434544555
44444444444
55555555555
35455555555
55555555555
33434533444
33345544555
55555555555
24445544444
44444444444
55555555555
55555555555
45445555555
45555553
545555

In [7]:
import pandas as pd
df=pd.DataFrame(plist)

In [8]:
df

    0   1   2   3   4   5    6    7    8    9    10
0    5   5   5   5   5   5  5.0  5.0  5.0  5.0  5.0
1    5   5   5   4   5   4  5.0  5.0  5.0  5.0  5.0
2    5   5   4   5   5   5  5.0  4.0  5.0  5.0  5.0
3    2   3   2   3   4   3  2.0  3.0  3.0  NaN  NaN
4    3   4   4   3   5   5  5.0  4.0  5.0  5.0  5.0
5    5   5   5   5   5   5  5.0  5.0  5.0  5.0  5.0
6    5   5   5   5   5   5  5.0  5.0  5.0  5.0  5.0
7    4   4   4   4   4   5  4.0  4.0  NaN  NaN  NaN
8    5   5   5   5   5   5  5.0  5.0  NaN  NaN  NaN
9    3   3   3   4   4   5  3.0  3.0  5.0  5.0  5.0
10   3   4   4   2   5   5  4.0  5.0  5.0  5.0  5.0
11   3   4   3   5   5   5  5.0  5.0  5.0  5.0  5.0
12   5   5   5   3   5   5  5.0  3.0  5.0  5.0  5.0
13   4   5   4   3   4   5  4.0  4.0  5.0  5.0  5.0
14   4   4   4   4   4   4  4.0  4.0  4.0  4.0  4.0
15   5   5   5   5   5   5  5.0  5.0  5.0  5.0  5.0
16   3   5   4   5   5   5  5.0  5.0  5.0  5.0  5.0
17   5   5   5   5   5   5  5.0  5.0  5.0  5.0  5.0
18   3   3   4   3   4   5  3.0  3.0  4.0  4.0  4.0
19   3   3   3   4   5   5  4.0  4.0  5.0  5.0  5.0
20   5   5   5   5   5   5  5.0  5.0  5.0  5.0  5.0
21   2   4   4   4   5   5  4.0  4.0  4.0  4.0  4.0
22   4   4   4   4   4   4  4.0  4.0  4.0  4.0  4.0
23   5   5   5   5   5   5  5.0  5.0  5.0  5.0  5.0
24   5   5   5   5   5   5  5.0  5.0  5.0  5.0  5.0
25   4   5   4   4   5   5  5.0  5.0  5.0  5.0  5.0
26   4   5   5   5   5   5  5.0  3.0  NaN  NaN  NaN
27   5   4   5   5   5   5  NaN  NaN  NaN  NaN  NaN

## 10 likert (Q7)

In [9]:
responses=[]
for response in range(respondents):
    responses.append(int(input()))

10
10
9
5
5
10
10
7
10
7
7
10
10
8
9
10
10
10
6
8
10
3
9
10
10
10
7
10

In [10]:
df['7']=responses

In [11]:
df

    0  1  2  3  4  5    6    7    8    9   10   7
0   5  5  5  5  5  5  5.0  5.0  5.0  5.0  5.0  10
1   5  5  5  4  5  4  5.0  5.0  5.0  5.0  5.0  10
2   5  5  4  5  5  5  5.0  4.0  5.0  5.0  5.0   9
3   2  3  2  3  4  3  2.0  3.0  3.0  NaN  NaN   5
4   3  4  4  3  5  5  5.0  4.0  5.0  5.0  5.0   5
5   5  5  5  5  5  5  5.0  5.0  5.0  5.0  5.0  10
6   5  5  5  5  5  5  5.0  5.0  5.0  5.0  5.0  10
7   4  4  4  4  4  5  4.0  4.0  NaN  NaN  NaN   7
8   5  5  5  5  5  5  5.0  5.0  NaN  NaN  NaN  10
9   3  3  3  4  4  5  3.0  3.0  5.0  5.0  5.0   7
10  3  4  4  2  5  5  4.0  5.0  5.0  5.0  5.0   7
11  3  4  3  5  5  5  5.0  5.0  5.0  5.0  5.0  10
12  5  5  5  3  5  5  5.0  3.0  5.0  5.0  5.0  10
13  4  5  4  3  4  5  4.0  4.0  5.0  5.0  5.0   8
14  4  4  4  4  4  4  4.0  4.0  4.0  4.0  4.0   9
15  5  5  5  5  5  5  5.0  5.0  5.0  5.0  5.0  10
16  3  5  4  5  5  5  5.0  5.0  5.0  5.0  5.0  10
17  5  5  5  5  5  5  5.0  5.0  5.0  5.0  5.0  10
18  3  3  4  3  4  5  3.0  3.0  4.0  4.0  4.0   6
19  3  3  3  4  5  5  4.0  4.0  5.0  5.0  5.0   8
20  5  5  5  5  5  5  5.0  5.0  5.0  5.0  5.0  10
21  2  4  4  4  5  5  4.0  4.0  4.0  4.0  4.0   3
22  4  4  4  4  4  4  4.0  4.0  4.0  4.0  4.0   9
23  5  5  5  5  5  5  5.0  5.0  5.0  5.0  5.0  10
24  5  5  5  5  5  5  5.0  5.0  5.0  5.0  5.0  10
25  4  5  4  4  5  5  5.0  5.0  5.0  5.0  5.0  10
26  4  5  5  5  5  5  5.0  3.0  NaN  NaN  NaN   7
27  5  4  5  5  5  5  NaN  NaN  NaN  NaN  NaN  10

In [12]:
speaker=input()

종합

In [13]:
filename="survey_result-"+speaker+".csv"
filename

'survey_result-종합.csv'

In [14]:
df.to_csv(filename)