In [1]:
respondents=30 # 응답인원

## 5 likert (Q1~6)

In [2]:
responses=[]
for response in range(respondents):
    responses.append(input())

55555
55455
44455

In [10]:
plist=[]

for response in responses:
    a = []
    for i in responses[0]:
        a.append(int(i))
    plist.append(a)

In [17]:
import pandas as pd
df=pd.DataFrame(plist)

## 10 likert (Q7)

In [24]:
responses=[]
for response in range(respondents):
    responses.append(int(input()))

10
10
10

In [27]:
df['7']=responses

In [28]:
df

   0  1  2  3  4   7
0  5  5  5  5  5  10
1  5  5  5  5  5  10
2  5  5  5  5  5  10

In [44]:
speaker=input()

류혁선

In [45]:
filename="survey_result-"+speaker+".csv"
filename

'survey_result-류혁선.csv'

In [ ]:
df.to_csv(filename)