In [4]:
import pandas as pd
from scipy.stats import ttest_ind

In [5]:
df= pd.read_csv('./data/groupon.csv')
df.head()

,deal_id,start_date,min_req,treatment,prom_length,price,discount_pct,coupon_duration,featured,limited_supply,fb_likes,quantity_sold,revenue
0,heli-flights,9/23/2011,10,1,4,99,51,185,1,1,290,540,53460
1,gl-champion-series-tennis-electric-factory,9/23/2011,20,1,2,95,41,9,0,1,43,190,18050
2,realm-of-terror-horror-experience,9/23/2011,50,1,3,25,50,38,0,1,208,380,9500
3,newport-gourmet,9/23/2011,15,1,3,50,50,369,0,1,16,90,4500
4,the-clayroom,9/23/2011,20,1,4,25,52,185,0,1,85,580,14500

In [9]:
df_control=df[df['treatment']==0]
df_treatment=df[df['treatment']==1]

## student's t-test for revenue (dependent variable)

In [11]:
print(df_control.revenue.mean()," | ",df_treatment.revenue.mean())

# compare samples
_, p = ttest_ind(df_control.revenue, df_treatment.revenue)
print(f'p={p:.3f}')

# interpret
alpha = 0.05  # significance level
if p > alpha:
    print('same distributions/same group mean (fail to reject H0 - we do not have enough evidence to reject H0)')
else:
    print('different distributions/different group mean (reject H0)')

9720.987854251012  |  12750.694444444445
p=0.040
different distributions/different group mean (reject H0)

In [12]:
ttest_ind(df_control.revenue, df_treatment.revenue)

Ttest_indResult(statistic=-2.053117135498598, pvalue=0.04042813909865904)